.customers_container {
  @media screen and (min-width: $laptop) {
    display: flex;
    gap: 71px;
  }
  @media screen and (min-width: $desktop) {
    width: 100%;
  }
}

table {
  width: 100%;
  font-size: 8px;
  @media screen and (min-width: $mobile) {
    font-size: 10px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 14px;
  }
}
.table-wrapper,
.email-cell {
  color: #292d32;

  //   font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
.table-wrapper {
  padding: 15px 5px;
  background: #fff;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
  border-radius: 30px;
  @media screen and (min-width: $mobile) {
    padding: 25px;
  }
  @media screen and (min-width: $desktop) {
    width: 100%;
  }
}
.table_filters-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  @media screen and (min-width: $mobile) {
    flex-wrap: nowrap;
  }
  @media screen and (min-width: $desktop) {
    padding-right: 51px;
  }
}
.table_filters_btns-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  align-items: center;
  width: 100%;
  @media screen and (min-width: $mobile) {
    width: auto;
    align-items: start;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: auto;
    gap: 15px;
  }
}
.table_filter-btn {
  cursor: pointer;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
  background: none;
  border: none;
  text-align: start;
  &.inactive {
    color: #16c098;
    font-weight: 400;
    font-size: 8px;
  }
  @media screen and (min-width: $laptop) {
    font-size: 22px;
    &.inactive {
      color: #16c098;
      font-weight: 400;
      font-size: 14px;
    }
  }
}
.input-wrapper {
  position: relative;
  width: 100%;
  @media screen and (min-width: $mobile) {
    margin-left: auto;
    width: auto;
  }
}
.search_icon {
  position: absolute;
  top: 5px;
  left: 5px;
}
.table_filter-input {
  border-radius: 10px;
  background: #f9fbff;
  padding: 10px 10px 10px 40px;
  border: none;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
  //   outline: none;
}
th,
td {
  padding: 5px 2px;
  border-bottom: 1px solid #eee;
  @media screen and (min-width: $mobile) {
    padding: 10px 5px;
  }
}
// td.status {
//   padding: 0;
// }
.table_header {
  color: #b5b7c0;
  text-align: start;
  //   font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.column_active {
  text-align: center;
}
.email-cell {
  word-break: break-all;
}

.status_cell {
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  &.status_active {
    background-color: #008767;
  }
  &.status_inactive {
    background-color: #df0404;
  }
  @media screen and (min-width: $tablet) {
    width: 80px;
    // height:;

    border-radius: 4px;

    // font-size: 10px;
    padding: 12px 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    &.status_active {
      background: rgba(22, 192, 152, 0.38);
      color: #008767;
      border: 1px solid #00b087;
    }

    &.status_inactive {
      color: #df0404;
      background: #ffc5c5;
      border: 1px solid #df0404;
    }
  }
}
.table_controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 10px;
  justify-content: center;
  @media screen and (min-width: $mobile) {
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
  }
  @media screen and (min-width: $laptop) {
    font-size: 14px;
  }
}
.pagination {
  display: flex;
  gap: 8px;
}
.page-item {
  display: inline-flex;
  border-radius: 4px;
  border: 1px solid #eee;
  background: #f5f5f5;

  &.active {
    color: #fff;
    border: 1px solid #5932ea;

    background: #5932ea;
  }
}
.page-link {
  padding: 6px 9px;
  cursor: pointer;
}
