.header_container {
  padding: 30px 0;
  @media screen and (min-width: $laptop) {
    position: absolute;
    top: 0;
    left: 240px;
    // width: 100%;
  }
}
.account-name {
  color: #000;

  font-size: 24px;

  font-weight: 500;
  line-height: normal;
}
